anyascii==0.3.2
html2text==2024.2.26
instapaper
ipython
lxml==5.3.0
nltk==3.9.1
numpy<2
pandoc==2.4
paramiko==3.4.1
pocket==0.3.6
pocket_api==0.1.5
pod2gen==1.0.3
pydub==0.25.1
pymupdf
pypandoc
pypandoc-binary
python-dotenv==1.0.1
python_magic==0.4.27
Requests==2.32.3
trafilatura==1.12.2
validators==0.34.0
webdataset
lxml_html_clean
posix_ipc
